<div class="main">
    <div class="main--body">
        <router-outlet></router-outlet>
    </div>

    <div class="main--footer">
        <div class="main--footer--icon ion-activatable ripple-parent">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon src="../../assets/images/Categories_icon.svg"></ion-icon>
        </div>
        <div class="main--footer--icon ion-activatable ripple-parent">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon src="../../assets/images/all-comments.svg"></ion-icon>
        </div>
        <div class="main--footer--icon ion-activatable ripple-parent ">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-icon src="../../assets/images/my-comments.svg"></ion-icon>
        </div>
    </div>
</div>